body {
	background : url("images/image9.jpg") no-repeat center center fixed;
	display: table;
	width: 100%;
	position: relative;
	background-size: cover;
}

.jumbotron{
	background: transparent;
	color: #fff;
}

#showcase{
	background: url("images/image6.gif") no-repeat center center fixed;
	margin-top: 20%;
	width: 80%;
	display: table;
	position: relative;
	background-size: cover;
}

#footer{
	margin-top: 20px;
	background-color:#101010;
	color: #FFF;	
}